*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    font-family: open Sans;
    text-decoration: none;
}

/*-------------- navigation bar related css styles --------*/
.primary-orange{
    color: #FD6E0A;
}
span{
    font-weight: 800;
}
nav{
    display: flex;
    padding: 50px;
    justify-content: space-around;
    align-items: center;

}
nav h1{
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav > ul li{
    margin-right: 50px;
}
nav li button{
    width: 150px;
    height: 64px;
    padding: 18px 35px 19px 36px;
    
}
nav a{
    color: #474747;
}
.btn-main{
    background-color: #FD6E0A;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    font-size: 20px;
    border: 0;
}

/* -------------header realated styles------------ */
header{
    background-image: url(./images/developer.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
}
.banner-container{
    padding: 30px 30px 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    
    
}
/* -----------------------left side--- */
/* .banner-left{
    max-width: 585px;
    background-image: url(./images/developer.png);
    background-repeat: no-repeat;
    background-position: top left;
} */
.banner-container h3{
    font-weight: 600;
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}
.banner-container h1{
    font-size: 85px;
    color: #181818;
    font-weight: 700;
}
.banner-container p{
    color: #757575;
    margin: 20px 0;
}
.download{
    padding: 19px 17px 18px 17px;
    margin-right: 30px;
    
}
.contact-btn{
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    background-color: white;
    padding: 19px 23px 18px 18px;
    font-size: 20px;
    font-weight: 700;
    color: #FD6E0A;
    
}

/* ------------------------right side------------ */
.banner-right{
    display: flex;
}
.vau{
    width: 584px;
    height: 676px; 
}

/* ------------------Main section------------------------- */
main, footer{
    max-width: 1140px;
    margin: auto;
}
/* ---------------------About page------------------------ */
.about{
    padding: 209px 156px 221px 156px;
    /* margin: 130px 230px; */
    /* max-width: 1440px; */
    max-height: 550px;
    text-align: center;
    
}

.info-container{
    display: flex;
    justify-content: space-around;
}
.section-title{
    font-size: 35px;
    font-weight: 700;
}
.about > p{
    margin: 30px 0;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
}
.box{
    justify-content: space-around;
    color: #757575;
    font-size: 20px;
}
.box .down{
    font-weight: 700;
    color: #474747;
    line-height: 30px; 
}
/* --------------What I do section-------------- */
.what-i-do{
    text-align: center;
    margin: 130px auto;
    
}


.what-i-do p{
    color: #757575;
    max-width: 909px;
    max-height: 90px;
    margin: 30px auto 50px;

}

.skills-container{
    display: flex;
    justify-content: space-between;
}
.skill-box{
    /* border: 1px solid blue; */
    padding: 30px;
    width: 201px;
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}
.skill-box h4{
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}
.logo{
    width: 44px;
    height: 44px;
    margin-bottom: 30px;
}
/* ----------------------------summary of resume----------------- */

.resume-container{
    /* border: 1px solid red; */


}
.resume-container h3{
    text-align: center;
}
.column-container{
    display: flex;
    gap: 76px;
}
.column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
.resume-container h3{
    margin: 130px 0 113px;
}
.rows h5{
    color:#474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.rows > p{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.rows :last-child{
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: #D1D1D1;
    height: 1px;
    margin-bottom: 20px;
  }
.cv-btn{
    padding: 19px 17px 18px 20px;
}
.centering{
    display: flex;
    justify-content: center;
    margin: 50px 0 113px;
}
.centering img{
    margin: 5px 15px 0 0;
}

/* ------------Footer styling-------- */

footer{
    display: flex;
    margin-bottom: 200px;
    justify-content: space-between;
    gap: 117px;
}
footer section{
    width: 50%;
}
.social-icons{
    display: flex;
    gap: 24px;
}

.connect p{
    color: #474747;
    font-size: 16px;    
    line-height: 28px;
    margin: 20px 0 30px;
    width: 562px;
}
.social-icons img{
    width: 24px;
    height: 24px;
}

.form .text{
    display: block;
    margin: 0 0 24px;
    padding: 18px 350px 18px 30px;

    color:#757575;
    font-size: 16px;
    line-height: 28px;
    border-radius: 5px;
    background-color: #FFF8F3;
}
.form textarea{
    padding: 18px 365px 134px 30px;
    color: #757575;
    font-size: 16px;
    line-height: 28px;
    border-radius: 5px;
    background-color:#FFF8F3;

    /* width: 461px;
    height: 180px; */

    
}
.message h3{
    margin-bottom: 28px;
    background-color: #FFF8F3;
}
.form .s-btn{
    margin-top: 24px;
    color:#FFF;
    font-size: 20px;
    font-weight: 700;
    width: 150px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    text-align: center;
}